@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/fundo-star-wars.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @apply scrollbar-thumb-warning
  scrollbar-track-neutral pb-3
  scrollbar-thin scrollbar-thumb-rounded-xl 
}

.starwars-logo {
  background-image: url('./assets/logo-star-wars.svg');

  @apply sm:h-32;

  @apply lg:h-48;
}

.starwars-grafismo {
  background-image: url('./assets/grafismo-topo.svg');

  @apply sm:h-[450px];

  @apply lg:h-[670px];
}