@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/fundo-star-wars.svg');
}

.starwars-logo {
  background-image: url('./assets/logo-star-wars.svg');
}

.starwars-grafismo {
  background-image: url('./assets/grafismo-topo.svg');
}